<div class="py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" routerLink="/aboutus" fragment="introduction">Introduction</button>
                <button type="button" class="btn btn-primary" routerLink="/aboutus" fragment="benefits">Benefits</button>
                <button type="button" class="btn btn-primary" routerLink="/aboutus" fragment="services">Services</button>
              </div>
        </div>
        <div class="col-md-12">
            <h3 id="introduction">Introduction</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero non facilis, voluptatibus delectus
                facere placeat assumenda distinctio fuga nesciunt beatae velit sed. Praesentium fugiat eum explicabo non
                consectetur at maxime mollitia eius pariatur molestias tempore velit facere soluta quis doloribus quia,
                laboriosam porro consequuntur officia. Et maxime velit aperiam voluptatem nulla enim quo reprehenderit
                suscipit minus! Tenetur repellat nobis at aperiam animi, dolorum esse earum possimus sit explicabo
                obcaecati minima reiciendis. Quia totam soluta mollitia ea quas odio et exercitationem laboriosam esse
                voluptatum eaque provident atque, amet tenetur nam temporibus itaque illo at minima sapiente impedit
                tempora facilis. At quod illum praesentium adipisci, reprehenderit commodi deleniti quia esse obcaecati?
                Quas sed, ratione nihil quos omnis dolores, modi ducimus nesciunt expedita deleniti beatae veniam
                cumque, earum commodi vel quaerat. Commodi, maxime. Ipsam, labore. Enim cupiditate ea deleniti
                voluptatem adipisci esse ducimus delectus ut. Aperiam temporibus at quae quos cumque explicabo
                consectetur eum rerum deleniti modi! Iure, commodi, recusandae repellat odio sequi hic rem omnis quidem
                ipsam delectus corrupti placeat pariatur accusamus reprehenderit reiciendis nobis ex blanditiis
                voluptate soluta architecto ipsum mollitia ratione molestiae? Sunt ex molestiae molestias provident
                repellendus consequatur nihil vero, dolorum rerum iure ipsum itaque sequi libero? Aliquam, cum quasi
                reiciendis atque tempore magni eveniet odio, inventore iure a est deserunt? Ea, eos beatae cupiditate
                natus, harum nesciunt recusandae ipsum explicabo ipsa, nostrum sequi repudiandae consequatur corporis
                amet voluptatibus. Praesentium excepturi soluta ipsam itaque. Tempora dolores similique natus sequi
                voluptates. Rerum, veniam. Cupiditate, vel eligendi perferendis atque laborum temporibus nobis
                dignissimos numquam animi. Aliquid, illum tempore! Provident illo natus, mollitia voluptatibus tenetur,
                possimus distinctio eos magnam, explicabo earum praesentium sint dicta quaerat ipsam? Accusamus veniam
                nostrum amet, error beatae repellendus magni mollitia rem pariatur neque odio aut suscipit nulla
                inventore maiores quasi quos vero officiis cupiditate facere commodi debitis cum. Hic voluptatem cum ab
                est, magnam totam assumenda in explicabo aperiam facere dicta numquam neque nisi. Culpa, pariatur
                eligendi consequatur harum doloribus placeat quae quo quos qui? Perspiciatis odit eum quo minima,
                consectetur fugit ullam eius accusantium impedit iste officia, commodi voluptate sed! Aspernatur
                possimus minima porro suscipit cum facere recusandae vero, reprehenderit provident. Inventore hic cumque
                minus aperiam facilis perferendis quasi tenetur eum voluptatibus, corporis, porro quo expedita modi
                consequuntur officiis nobis incidunt vitae. Suscipit nulla quasi repellat adipisci. Dolorum perferendis
                obcaecati adipisci, veniam omnis ex ab mollitia voluptatem. Quae corporis sapiente soluta quam aut animi
                magnam pariatur suscipit velit dignissimos sequi nobis earum nemo quibusdam, officiis hic provident
                eveniet ipsum tempora. Sequi unde vero veniam quas neque accusamus natus, hic eaque aut minima molestias
                repellat, odit architecto soluta a optio necessitatibus autem commodi omnis quo. Expedita quibusdam
                facilis voluptate voluptatum, voluptates impedit excepturi amet velit reprehenderit ab culpa ratione
                laborum voluptatem commodi aliquid ipsum quam! Minus obcaecati rem eum, sed alias voluptatum totam nobis
                unde laboriosam vero magni ea aliquid debitis. Culpa doloremque iure architecto itaque minus,
                repellendus iste eligendi odio sapiente qui voluptas modi voluptatibus dolore quia, praesentium
                explicabo. Ipsum fugiat iste a non, consectetur nam!</p>
                <hr>
                <h3 id="benefits">Benefits</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero non facilis, voluptatibus delectus
                    facere placeat assumenda distinctio fuga nesciunt beatae velit sed. Praesentium fugiat eum explicabo non
                    consectetur at maxime mollitia eius pariatur molestias tempore velit facere soluta quis doloribus quia,
                    laboriosam porro consequuntur officia. Et maxime velit aperiam voluptatem nulla enim quo reprehenderit
                    suscipit minus! Tenetur repellat nobis at aperiam animi, dolorum esse earum possimus sit explicabo
                    obcaecati minima reiciendis. Quia totam soluta mollitia ea quas odio et exercitationem laboriosam esse
                    voluptatum eaque provident atque, amet tenetur nam temporibus itaque illo at minima sapiente impedit
                    tempora facilis. At quod illum praesentium adipisci, reprehenderit commodi deleniti quia esse obcaecati?
                    Quas sed, ratione nihil quos omnis dolores, modi ducimus nesciunt expedita deleniti beatae veniam
                    cumque, earum commodi vel quaerat. Commodi, maxime. Ipsam, labore. Enim cupiditate ea deleniti
                    voluptatem adipisci esse ducimus delectus ut. Aperiam temporibus at quae quos cumque explicabo
                    consectetur eum rerum deleniti modi! Iure, commodi, recusandae repellat odio sequi hic rem omnis quidem
                    ipsam delectus corrupti placeat pariatur accusamus reprehenderit reiciendis nobis ex blanditiis
                    voluptate soluta architecto ipsum mollitia ratione molestiae? Sunt ex molestiae molestias provident
                    repellendus consequatur nihil vero, dolorum rerum iure ipsum itaque sequi libero? Aliquam, cum quasi
                    reiciendis atque tempore magni eveniet odio, inventore iure a est deserunt? Ea, eos beatae cupiditate
                    natus, harum nesciunt recusandae ipsum explicabo ipsa, nostrum sequi repudiandae consequatur corporis
                    amet voluptatibus. Praesentium excepturi soluta ipsam itaque. Tempora dolores similique natus sequi
                    voluptates. Rerum, veniam. Cupiditate, vel eligendi perferendis atque laborum temporibus nobis
                    dignissimos numquam animi. Aliquid, illum tempore! Provident illo natus, mollitia voluptatibus tenetur,
                    possimus distinctio eos magnam, explicabo earum praesentium sint dicta quaerat ipsam? Accusamus veniam
                    nostrum amet, error beatae repellendus magni mollitia rem pariatur neque odio aut suscipit nulla
                    inventore maiores quasi quos vero officiis cupiditate facere commodi debitis cum. Hic voluptatem cum ab
                    est, magnam totam assumenda in explicabo aperiam facere dicta numquam neque nisi. Culpa, pariatur
                    eligendi consequatur harum doloribus placeat quae quo quos qui? Perspiciatis odit eum quo minima,
                    consectetur fugit ullam eius accusantium impedit iste officia, commodi voluptate sed! Aspernatur
                    possimus minima porro suscipit cum facere recusandae vero, reprehenderit provident. Inventore hic cumque
                    minus aperiam facilis perferendis quasi tenetur eum voluptatibus, corporis, porro quo expedita modi
                    consequuntur officiis nobis incidunt vitae. Suscipit nulla quasi repellat adipisci. Dolorum perferendis
                    obcaecati adipisci, veniam omnis ex ab mollitia voluptatem. Quae corporis sapiente soluta quam aut animi
                    magnam pariatur suscipit velit dignissimos sequi nobis earum nemo quibusdam, officiis hic provident
                    eveniet ipsum tempora. Sequi unde vero veniam quas neque accusamus natus, hic eaque aut minima molestias
                    repellat, odit architecto soluta a optio necessitatibus autem commodi omnis quo. Expedita quibusdam
                    facilis voluptate voluptatum, voluptates impedit excepturi amet velit reprehenderit ab culpa ratione
                    laborum voluptatem commodi aliquid ipsum quam! Minus obcaecati rem eum, sed alias voluptatum totam nobis
                    unde laboriosam vero magni ea aliquid debitis. Culpa doloremque iure architecto itaque minus,
                    repellendus iste eligendi odio sapiente qui voluptas modi voluptatibus dolore quia, praesentium
                    explicabo. Ipsum fugiat iste a non, consectetur nam!</p>
                    <hr>
                    <h3 id="services">Services</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero non facilis, voluptatibus delectus
                        facere placeat assumenda distinctio fuga nesciunt beatae velit sed. Praesentium fugiat eum explicabo non
                        consectetur at maxime mollitia eius pariatur molestias tempore velit facere soluta quis doloribus quia,
                        laboriosam porro consequuntur officia. Et maxime velit aperiam voluptatem nulla enim quo reprehenderit
                        suscipit minus! Tenetur repellat nobis at aperiam animi, dolorum esse earum possimus sit explicabo
                        obcaecati minima reiciendis. Quia totam soluta mollitia ea quas odio et exercitationem laboriosam esse
                        voluptatum eaque provident atque, amet tenetur nam temporibus itaque illo at minima sapiente impedit
                        tempora facilis. At quod illum praesentium adipisci, reprehenderit commodi deleniti quia esse obcaecati?
                        Quas sed, ratione nihil quos omnis dolores, modi ducimus nesciunt expedita deleniti beatae veniam
                        cumque, earum commodi vel quaerat. Commodi, maxime. Ipsam, labore. Enim cupiditate ea deleniti
                        voluptatem adipisci esse ducimus delectus ut. Aperiam temporibus at quae quos cumque explicabo
                        consectetur eum rerum deleniti modi! Iure, commodi, recusandae repellat odio sequi hic rem omnis quidem
                        ipsam delectus corrupti placeat pariatur accusamus reprehenderit reiciendis nobis ex blanditiis
                        voluptate soluta architecto ipsum mollitia ratione molestiae? Sunt ex molestiae molestias provident
                        repellendus consequatur nihil vero, dolorum rerum iure ipsum itaque sequi libero? Aliquam, cum quasi
                        reiciendis atque tempore magni eveniet odio, inventore iure a est deserunt? Ea, eos beatae cupiditate
                        natus, harum nesciunt recusandae ipsum explicabo ipsa, nostrum sequi repudiandae consequatur corporis
                        amet voluptatibus. Praesentium excepturi soluta ipsam itaque. Tempora dolores similique natus sequi
                        voluptates. Rerum, veniam. Cupiditate, vel eligendi perferendis atque laborum temporibus nobis
                        dignissimos numquam animi. Aliquid, illum tempore! Provident illo natus, mollitia voluptatibus tenetur,
                        possimus distinctio eos magnam, explicabo earum praesentium sint dicta quaerat ipsam? Accusamus veniam
                        nostrum amet, error beatae repellendus magni mollitia rem pariatur neque odio aut suscipit nulla
                        inventore maiores quasi quos vero officiis cupiditate facere commodi debitis cum. Hic voluptatem cum ab
                        est, magnam totam assumenda in explicabo aperiam facere dicta numquam neque nisi. Culpa, pariatur
                        eligendi consequatur harum doloribus placeat quae quo quos qui? Perspiciatis odit eum quo minima,
                        consectetur fugit ullam eius accusantium impedit iste officia, commodi voluptate sed! Aspernatur
                        possimus minima porro suscipit cum facere recusandae vero, reprehenderit provident. Inventore hic cumque
                        minus aperiam facilis perferendis quasi tenetur eum voluptatibus, corporis, porro quo expedita modi
                        consequuntur officiis nobis incidunt vitae. Suscipit nulla quasi repellat adipisci. Dolorum perferendis
                        obcaecati adipisci, veniam omnis ex ab mollitia voluptatem. Quae corporis sapiente soluta quam aut animi
                        magnam pariatur suscipit velit dignissimos sequi nobis earum nemo quibusdam, officiis hic provident
                        eveniet ipsum tempora. Sequi unde vero veniam quas neque accusamus natus, hic eaque aut minima molestias
                        repellat, odit architecto soluta a optio necessitatibus autem commodi omnis quo. Expedita quibusdam
                        facilis voluptate voluptatum, voluptates impedit excepturi amet velit reprehenderit ab culpa ratione
                        laborum voluptatem commodi aliquid ipsum quam! Minus obcaecati rem eum, sed alias voluptatum totam nobis
                        unde laboriosam vero magni ea aliquid debitis. Culpa doloremque iure architecto itaque minus,
                        repellendus iste eligendi odio sapiente qui voluptas modi voluptatibus dolore quia, praesentium
                        explicabo. Ipsum fugiat iste a non, consectetur nam!</p>
        </div>
    </div>
</div>