.varticalBar{
    width: 8px;
    height: 44px;
    background-color:#17252A ;
    color: #DEF2F1;
}

.galleryBorder{
    border: 1px solid #17252A;
    background-color: #2B7A78;
    color: #FEFFFF;
}

img{
    width: 250px;
    height: 170px;
}