<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div></div>
                <h1>All Products</h1>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem animi porro beatae ex totam cupiditate
                pariatur, sit voluptatibus aspernatur. Ipsam ipsum, vel, consequuntur ea perferendis aut nam ducimus
                vero beatae dolorem tenetur fugit non dolore quod soluta amet repellendus et quis delectus explicabo,
                rem ad modi! Neque est ducimus tenetur necessitatibus quidem facilis dicta molestias, asperiores
                pariatur officiis enim ut doloribus sequi illum alias distinctio esse itaque architecto suscipit magnam
                ad rem. Nam excepturi numquam quaerat ad amet, officia ipsum culpa. Veritatis nobis earum quo ducimus
                voluptatum expedita hic quam reprehenderit aut facilis ad saepe, eligendi fugiat illo impedit? Labore.
            </p>
        </div>
        <div class="col-md-12">
            <div class="card">
                <img class="card-img-top" src="assets\home.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More..</a>
                </div>
              </div>
        </div>
    </div>
</div>