<div class="container">
    <div class="row justify-content-center  homeborder p-2 mt-3">
        <div class="col-md-6 p-4">
            <div class="d-flex">
                <div class="varticalbar align-self-center"></div>&nbsp;&nbsp;&nbsp;
                <h1 class="display-5">{{'home.text.h1' | translate}}</h1>
            </div>

            <p class="textcontent mt-3">{{'home.text.p' | translate}}</p>
            <button class="btn btn-primary btn-sm mt-2">{{'home.text.btn' | translate}}</button>

        </div>

        <div class="col-md-6 mt-5 py-5">
            <img src="assets/home.jpg" alt="home-image">
        </div>
    </div>
</div>